*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.5rem;

  letter-spacing: -0.6px;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

@font-face {
  font-family: "Norse";
  src: url("font/Norse-Bold.woff2") format("woff2"),
       url("font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --grey: #e0e0e0;
}

.page {
  display: flex;
}

.image-container {
  position: relative;
  width: 33.5rem;
  flex-shrink: 0;
}

.logo-container {
  position: absolute;
  top: 22%;

  height: 10rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00000080;
}

.logo-container img {
  height: 8.5rem;
}

.logo-container h1 {
  color: var(--white);
  font-family: "Norse";
  font-size: 6rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  
  background-color: var(--white);
  width: 100%;
}

.top-container {
  padding: 10.5rem 0 4rem 3rem;
  background-color: var(--off-white);
}

.top-container p + p {
  padding-top: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1.3rem;
}

.middle-container {
  background-color: var(--white);
  padding: 1rem 0 1.3rem 3rem;

  box-shadow: 0 5px 7px #00000020;
  position: relative;
  z-index: 1;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
}

.form-section div {
  font-size: 0.83rem;
  letter-spacing: 1px;

  width: 300px;
  padding-bottom: 20px;
  margin-right: 35px;
}

input {
  font-size: 1rem;
  font-weight: 600;

  padding: 8px;
  margin-top: 3px;
  width: 260px;
  height: 33px;

  border: solid 1px var(--grey);
  border-radius: 0.3rem;
}
